modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
NODE_ENV = "production"
PORT = "5000"

[deployment]
run = ["bash", "-lc", "cd iReport_Backend && npm install && npm run dev"]

[workflows]
runButton = "Backend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd iReport_Backend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
JWT_SECRET = "n7Qm2!zP9#kL4vT8xR1cB6uW0@dF3hY5"
BACKEND_PORT = "5000"
NODE_ENV = "production"
MONGODB_URI = "mongodb+srv://Arlys-bit:2026iReports31415926@ireport-cluster.or1zaaw.mongodb.net/?appName=iReport-Cluster"
CORS_ORIGIN = "https://iReport-files--Arlys-bit.replit.app"
